@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Neucha&family=Kalam&family=Manrope&family=Ubuntu:wght@300;400;500;600&display=swap');

@import "clear";
@import "variables";

body {
  font-family: Inter, sans-serif;
}

a {
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #396DF7;
  text-decoration: none;
}
